.DS_Store
.idea/
FeatureGen/__pycache__
example_classifiers/.ipynb_checkpoints/
*__pycache__*
*ipynb_checkpoints/
ligand_files/decoys/*
chemprop_classifier_model/chemprop_model/
ligand_files/chemprop_data.csv
FeatureGen/tempStruc.xyz
chemprop_model*
*.mov
*.mpg
ligand_files/Enamine_Discovery_Diversity_Set_50240_DDS-50_50240cmpds_20240729.sdf
*.png
*.jpg
*.key
*.pptx
*.pdf
schrodinger_output/
*.mpg
*.mov
presentation/
vina/
infinisee/
bad_apples/
chemprop_2024_aug_test_ens_5/
chemprop_2024_aug_test_new_dataset/
models/chemprop_2024_aug_test_new_dataset/
chemprop_new_classifier/
chemprop_new_classifier_ens_2/
glide_docked_900_ic50/
ligand_files/sampled_hits_smiles/dude-decoys/dude-decoys_v2_3/
ligand_files/sampled_hits_smiles/dude-decoys/
classifier_predictions/

